.music-content {
    max-width:1100px;
    margin:auto;
    padding:var(--space-xl) 40px;
}

.music-content h1 {
    font-size:5rem;
}

.intro {
    margin-top:var(--space-xs);
    font-size:1.1rem;
}

.release {
    margin-top:var(--space-lg);
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.release-image img {
    width:100%;
}

.release-info h2 {
    font-size:4rem;
}

.release-type {
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:.8rem;
}

.release-info p {
    margin-top:var(--space-sm);
    line-height:1.7;
}

.spotify-button {
    display:inline-block;
    margin-top:var(--space-sm);
    padding:14px 25px;
    background:var(--primary);
    color:var(--text-light);
    text-decoration:none;
}

.spotify-button:hover {
    background:var(--secondary);
    color:var(--text-dark);
}

@media(max-width:700px) {
    .release {
        grid-template-columns:1fr;
    }

    .music-content {
        padding:100px 20px;
    }
}